<h1>ALL THE CATS</h1>
<% @cats.each do |cat| %>
  <div><a href="<%= cats_url(cat.id) %>"><%= cat.name  %></a></div>
<% end %>
<br><br>
<a href="<%= new_cats_url %>">New cat!</a>
<a href="<%= new_humans_url %>">New human!</a>
