<h2>These links will immediately render from the same controller action.</h2>
<a href="add_flash">Flash a message</a>
<br>
<a href="add_flash_now">Flash a message now</a>

<br>



<br><br>
<h2>These links will flash then redirect to a new controller action</h2>
<a href="add_flash_redirect">Flash a message and redirect</a>
<br>
<a href="add_flash_now_redirect">Flash a message now and redirect</a>
