Is there a flash here?

<br>
<%= flash["message"] if flash["message"] %>
<br>
<a href="show_flashing">See if the flash is here after a new controller action</a>
<br>
<a href="flashing">Go here to add a flash message</a>
